$grey: grey;
$gold:gold;
$margin:1.8%;
*{
	padding:0%;
	margin:0%;
}
body{
		height:100%;
		width:100%;
}
	header {
			background-color:$gold;
			height:11%;
			//padding-top:1.9%;
			
			.header-top{
						margin: 0% 12.5%;
						height:36%;
						padding-top:.8%;
						
						.div2{
							width: 10%;
							height: 100%;
							float: left;
							background: $grey;
						}
						.div3{
							width: 17.5%;
							height: 100%;
							float: right;
							background: $grey;
						}
			}
			
			.div4{
				width: 75%;
				height: 36%;
				float: left;
				margin: 0 0 0 12.5%;
				margin-top: .7%;
				background: $grey;
								//position:relative;
			}
			
			
		
	}

	section{
		background-color:white;
		height:82%;
		width:100%;
		.div5{
			background-color:$gold;
			margin-top:.9%;
			height:34.1%;
			width:100%;
			//margin-left:12.5%;
			.span1{
				background-color:$grey;
				margin: 1.1% 12.5%;
				height:85.71%;
				width:75%;
				float:left;
			}
		}
		.div6{
		background-color:white;
		margin-top:.9%;
		height:29.26%;
		width:100%;
		//margin-left:12.5%;
		.div7{
			margin-left:12.5%;
			height:100%;
		//	width:100%;
			margin-bottom:.9%;
			.span2{
				background-color:$grey;
				margin-right:.9%;
				height:100%;
				width:20.75%;
				float:left;
			}
		}
		}
		.div8{
			@extend .div5;
			background-color:white;
			height:32%;
			.span1{
				background-color:grey;
				height:100%;
				margin-top:0;
			}

		}
	}

footer {
	height:4%;
	background-color:gold;
	margin-top:1%;
	//margin-left:12.5%;

	.footer1{
		margin-left:12.5%;
		width:75%;
		background-color:grey;
		height:100%;
		//float:left;
		display:block;

	}
}
	

@media only screen and (min-width: 768px) and (max-width: 1024px){
$grey: grey;

header{

	height:9%;
	background-color:golden;
	.header-top{
						margin: 0% 20%;
						height:36%;
						padding-top:.75%;
						
						.div2{
							width: 10%;
							height: 100%;
							float: left;
							background: $grey;
						}
						.div3{
							width: 18%;
							height: 100%;
							float: right;
							background: $grey;
						}
	}
							.div4{
								width: 60%;
								height: 35.5%;
								float: left;
								margin-left: 20%;
								margin-top: .75%;
								background: $grey;
								//position:relative;
	}
	}		
			
	section{
		background-color:white;
		height:84.5%;
		width:100%;
		.div5{
			background-color:$gold;
			margin-top:.9%;
			height:34.1%;
			width:100%;
			//margin-left:12.5%;
			.span1{
				background-color:$grey;
				margin: 1.4% 20%;
				height:85.71%;
				width:60%;
				float:left;
			}
		}
		.div6{
		background-color:white;
		margin-top:.9%;
		height:34%;
		width:100%;
		//margin-left:12.5%;
		.div7{
			margin-left:20%;
			height:100%;
		//	width:100%;
			margin-bottom:.9%;
			.span2{
				background-color:$grey;
				margin-right:.9%;
				height:50%;
				width:37%;
				float:left;
				overflow:hidden;
				margin-bottom:.9%;

			}
		}
		}
		.div8{
			//@extend .div5;
			background-color:white;
			height:28%;
			.span1{
				background-color:grey;
				height:100%;
				margin-top:0;
			}

		}
	}
	footer {
	height:4%;
	background-color:gold;
	margin-top:1%;
	//margin-left:12.5%;

	.footer1{
		margin-left:20%;
		width:60%;
		background-color:grey;
		height:100%;
		//float:left;
		display:block;

	}
}
}	



@media only screen and (min-width: 320px) and (max-width: 767px){
$grey: #c0c0c0;

header{

	height:7%;
	background-color:golden;
	.header-top{
						margin: 0% 0%;
						height:36%;
						padding-top:1.7%;
						
						.div2{
							width: 10%;
							height: 100%;
							float: left;
							background: grey;
						}
						.div3{
							width: 37%;
							height: 100%;
							float: right;
							background: grey;
						}
	}
							.div4{
								width: 100%;
								height: 35.5%;
								float: left;
								margin-left: 0%;
								margin-top: 1.7%;
								background: grey;
								//position:relative;
	}
	}		
			
	section{
		background-color:white;
		height:88%;
		width:100%;
		.div5{
			background-color:$gold;
			margin-top:1.6%;
			height:22.3%;
			width:100%;
			//margin-left:12.5%;
			.span1{
				background-color:$grey;
				margin: 1.7% 0%;
				height:90%;
				width:100%;
				float:left;
			}
		}
		.div6{
		background-color:white;
		margin-top:1.67%;
		height:50%;
		width:100%;
		//margin-left:12.5%;
		.div7{
			margin-left:0%;
			height:100%;
		//	width:100%;
			margin-bottom:.9%;
			.span2{
				background-color:$grey;
				margin-right:1.7%;
				height:24%;
				width:100%;
				float:left;
				overflow:hidden;
				margin-bottom:1.7%;

			}
		}
		}
		.div8{
			//@extend .div5;
			background-color:white;
			height:23%;
			.span1{
				background-color:$grey;
				height:100%;
				margin-top:0;
			}

		}
	}
	footer {
	height:4.1%;
	background-color:grey;
	margin-top:0%;
	//margin-left:12.5%;

	.footer1{
		margin-left:20%;
		width:60%;
		background-color:grey;
		height:100%;
		//float:left;
		display:block;

	}
}
}	