.form_header {
	background-color: $white-smoke;
	height: 8%;
    display: inline-block;
    border-top: 2px solid $Gainsboro;
	width: 96%;
	color: $Matterhorn;
	padding: 2%;
}
.form_heading{
	float: left;
}

.form_heading_right {
	float: right;
}